<% add_breadcrumb t('.breadcrumb_home'), root_path %>
<% add_breadcrumb t('.breadcrumb_index'), announcements_path %>
<% add_breadcrumb @announcement.title %>
<hr>

<%= render 'shared/nav' %>
<hr>

<p><small><%= @announcement.published_at.strftime('%Y/%m/%d') %></small></p>
<h1><%= @announcement.title %></h1>

<%= @announcement.body %>

<hr>
<p><%= link_to t('.back_to_index'), announcements_path %></p>
