<div id="sessions-new">
  <h1>ログイン</h1>
  <%= bootstrap_form_with url: login_path, scope: :session do |f|%>
    <%= f.email_field :email, label: "メールアドレス" %>
    <%= f.password_field :password, label: "パスワード" %>
    <%= f.check_box :remember_me, label: "ログインしたままにする"%>
    <div class="d-grid">
      <%= f.submit "ログインする" %>
    </div>
  <% end %>
  <%= render 'shared/google_login' %>
  <div class="text-center mt-5">
    <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path, class: 'normal-link forgot-link' %>
    <%= link_to 'アカウントをお持ちでない方はこちら', new_user_path, class: 'btn btn-outline-secondary no-account-link' %>
  </div>
</div>
