<% add_breadcrumb t('.breadcrumb_home'), root_path %>
<% add_breadcrumb t('.breadcrumb_index'), faqs_path %>
<% add_breadcrumb @faq.question %>
<hr>

<%= render 'shared/nav' %>
<hr>

<h1><%= @faq.question %></h1>
<p><%= @faq.answer %></p>
<% if @faq.detail.present? %>
  <p><%= @faq.detail %></p>
<% end %>

<hr>
<p><%= link_to t('.back_to_index'), faqs_path %></p>

<% if logged_in? && current_user.admin? %>
  <p>
    <%= link_to t('.edit'), edit_faq_path(@faq) %> |
    <%= link_to t('.destroy'), @faq, data: { "turbo-method": :delete, turbo_confirm: t('.destroy_confirm') } %>
  </p>
<% end %>
