<div class="container">
  <h2>待ち状態: <%= @line_status.id %></h2>
  <p>待ち人数: <%= @line_status.line_number %></p>
  <p><%= @line_status.line_type_i18n %></p>
  <% if @line_status.comment %>
    <p><i class="fa-solid fa-comment"></i> <%= @line_status.comment %></p>
  <% end %>
</div>
<%= link_to '編集', edit_line_status_path(@line_status), class: "btn btn-warning" %>
<%= link_to '戻る', record_path(@line_status.record), class: "btn btn-warning" %>
