<%= render 'modal', title: '絞り込む' do %>
  <div class='filter_form' data-controller='checkboxes'>
    <div class='toggle-all-box'>
      <%= check_box_tag 'toggle_all', '1', true, data: { action: 'change->checkboxes#toggle', checkboxes_target: 'toggleAllCheckbox' }, class: 'form-check-input' %>
      <%= label_tag 'toggle_all', '全て', class: 'form-check-label' %>
    </div>
    <%= bootstrap_form_with url: favorite_records_path, method: :get do |f| %>
      <%= f.collection_check_boxes :shop_ids, current_user.favorite_shops, :id, :name, label: 'お気に入り店舗', checked: @checked_ids %>
      <div class='d-grid'>
        <%= f.submit '適用する', class: 'button-primary' %>
      </div>
    <% end %>
  </div>
<% end %>
