<% add_breadcrumb t('shared.breadcrumb_home'), root_path %>
<hr>

<%= render 'shared/nav' %>
<hr>

<h1><%= t('.heading') %></h1>

<% if !logged_in? %>
  <p><%= t('.not_logged_in') %></p>
<% elsif @favorite_shops.none? %>
  <p><%= t('.no_favorites') %></p>
<% else %>
  <p>
    <%= link_to t('.filter_button'),
          filter_favorite_records_path(shop_ids: @checked_ids),
          data: { turbo_stream: true } %>
  </p>

  <% if @records.any? %>
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th scope="col"><%= t('.shop_name_header') %></th>
            <th scope="col"><%= t('.wait_time_header') %></th>
            <th scope="col" class="col-genre"><%= t('.status_header') %></th>
            <th scope="col"><%= t('.datetime_header') %></th>
            <th scope="col"><%= t('shared.photo_header') %></th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |record| %>
            <tr>
              <td><%= link_to record.ramen_shop.name, record.ramen_shop %></td>
              <%= render 'records/wait_time_cell', record: record %>
              <td class="col-genre"><%= format_line_status(record.line_statuses.first) %></td>
              <td><%= format_datetime(record.started_at) %></td>
              <%= render 'records/photo_thumb', record: record %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @records %>
  <% else %>
    <p><%= t('.no_records') %></p>
  <% end %>
<% end %>
