<%= bootstrap_form_with model: @ramen_shop do |f|%>
  <%= f.text_field :name %>
  <%= f.text_field :address %>
  <%= f.hidden_field :request_id, value: @request_id %>
  <div class="d-grid">
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
