<a href="<%= ramen_shop_path(ramen_shop) %>" class="list-group-item-action list-item">
  <div class="content">
    <div class="shop-info pt-2">
      <h5><%= ramen_shop.name %></h5>
      <small class="mb-1 shop-address"><%= ramen_shop.address %></small>
    </div>
    <div class="shop-stats pb-2">
      <% count = ramen_shop.active_records_count %>
      <% if count > 0 %>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-chart-simple me-1"></i>
          <span class="fs-2 me-2"><%= wait_time_tag(ramen_shop.average_wait_time) %></span>
          <span class="badge bg-secondary"><%= count %>件</span>
        </div>
      <% else %>
        <div class="no-record">
          <small class="ms-2">まだ記録がありません</small>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ps-1">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</a>
