<a href="<%= ramen_shop_path(ramen_shop) %>" class="list-group-item-action list-item">
  <div class="content">
    <div class="shop-info pt-2">
      <h5><%= ramen_shop.name %></h5>
      <small class="mb-1 shop-address"><%= ramen_shop.address %></small>
    </div>
    <div class="recent-record">
      <% last_record = ramen_shop.last_active_record %>
      <% if last_record %>
        <div class="record-line_status d-flex align-items-center">
          <small class='badge bg-dark me-2'>New</small>
          <span class="fs-2 me-2"><%= wait_time_tag last_record.wait_time %></span>
          <% first_status = last_record.line_statuses.first %>
          <%= line_type_badge(first_status) %>
        </div>
      <% else %>
        <div class="no-record">
          <small class='ms-2'>まだ記録がありません</small>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ps-1">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</a>
