<% add_breadcrumb t('.breadcrumb_home'), root_path %>
<hr>

<%= render 'shared/nav' %>
<hr>

<h1><%= t('.heading') %></h1>

<% if @ramen_shops.any? %>
<div class="table-scroll">
  <table>
    <thead>
      <tr>
        <th><%= t('.shop_name_header') %></th>
        <th><%= t('.distance_header') %></th>
        <th><%= t('.wait_time_header') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ramen_shops.each do |shop| %>
        <tr>
          <td><%= link_to shop.name, shop %></td>
          <td><%= format_near_distance(shop.distance) %></td>
          <td><%= near_shop_wait_time(shop) %></td>
          <td><%= link_to t('.connect_button'), new_ramen_shop_record_path(shop), class: 'btn', data: { turbo_stream: true } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p><small><%= t('.count_display', count: @ramen_shops.size) %></small></p>
<% else %>
  <p><%= t('.no_shops') %></p>
<% end %>

<hr>
<p><%= t('.search_hint') %> <%= link_to t('.search_link'), ramen_shops_path %></p>
