<div id="ramen_shops-show">
  <section class="ramen_shop">
    <h1><%= @ramen_shop.name %></h1>
    <p class="mb-2"><%= @ramen_shop.address %></p>
    <%= render 'shop_map' %>
    <%= render 'favorite_form' %>
  </section>
  <section class="content">
    <h2 class="border-bottom">ちゃくどんレコード
      <span><%= @ramen_shop.records.count %>件</span>
    </h2>
    <% if @records.any? %>
      <div class="records pb-2">
        <%= render @records, name: :user %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @records %>
      </div>
    <% else %>
      <p class="text-center">まだちゃくどんレコードがありません</p>
    <% end %>
  </section>
</div>
