<div id="ramen_shops-show">
  <section class="ramen_shop">
    <h1 class="my-4"><%= @ramen_shop.name %></h1>
    <p class="mb-4"><%= @ramen_shop.address %></p>
    <div class="stats">
      <%= link_to ramen_shop_path(@ramen_shop) do %>
        <%= @ramen_shop.records.count %><br>
        レコード数
      <% end %>
    </div>
    <%= render 'favorite_form' if logged_in? %>
  </section>
  <section class="content">
    <h2 class="border-bottom">ちゃくどんレコード</h2>
    <% if @records.any? %>
      <div class="list-group">
        <%= render @records, name: :user %>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <%= paginate @records%>
      </div>
    <% else %>
      <p class="text-center">まだちゃくどんレコードがありません</p>
    <% end %>
  </section>
</div>
