<div class="container">
  <%= render 'favorite_form' if logged_in? %>
  <h2 class="my-4"><%= @ramen_shop.name %></h2>
  <p class="mb-4"><%= @ramen_shop.address %></p>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0"><%= tag.span("レコード数 #{@ramen_shop.records.count}") %></h6>
    <%= render @records, name: :user %>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @records%>
    </div>
  </div>
  <div>
    <%= link_to "ホームへ戻る", root_path %>
  </div>
</div>
