<% add_breadcrumb t('shared.breadcrumb_home'), root_path %>
<% add_breadcrumb t('.breadcrumb_list'), ramen_shops_path %>
<% add_breadcrumb @ramen_shop.name %>
<hr>

<%= render 'shared/nav' %>
<hr>

<h1><%= @ramen_shop.name %></h1>

<hr>

<h2><%= t('.shop_info_section') %></h2>
<table>
  <tr>
    <th class="col-th"><%= t('.shop_name_label') %></th>
    <td><%= @ramen_shop.name %></td>
  </tr>
  <tr>
    <th class="col-th"><%= t('.address_label') %></th>
    <td>
      <%= @ramen_shop.address %>
      <% if @ramen_shop.latitude.present? && @ramen_shop.longitude.present? %>
        <%= link_to t('.map_link'), "https://maps.google.com/?q=#{@ramen_shop.latitude},#{@ramen_shop.longitude}", target: '_blank', rel: 'noopener noreferrer' %>
      <% end %>
    </td>
  </tr>
</table>

<div id="favorite_form">
  <%= render 'favorite_form' %>
</div>

<hr>

<h2><%= t('.records_section') %> <small><%= t('.records_count', count: @records.total_count) %></small></h2>

<% if @records.any? %>
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th scope="col"><%= t('.wait_time_header') %></th>
          <th scope="col" class="col-queue"><%= t('.queue_header') %></th>
          <th scope="col"><%= t('.datetime_header') %></th>
          <th scope="col" class="col-author"><%= t('.recorder_header') %></th>
          <th scope="col" class="col-comment"><%= t('.comment_header') %></th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <td>
              <%= link_to format_wait_time_human(record.wait_time), record_path(record, back: 'ramen_shops') %>
              <%= t('.retired_label') if record.is_retired? %>
            </td>
            <td class="col-queue"><%= format_line_status(record.line_statuses.first) %></td>
            <td><%= format_datetime(record.started_at) %></td>
            <td class="col-author"><%= link_to record.user.name, user_path(record.user) %></td>
            <td class="col-comment"><%= record.comment.presence || '-' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @records %>
<% else %>
  <p><%= t('.no_records') %></p>
<% end %>

