<%= tag.div id: dom_id(record) do %>
  <% if logged_in? %>
    <% if current_user.likes?(record) %>
      <%= render 'likes/remove_like', record: record %>
    <% else %>
      <%= render 'likes/add_like', record: record %>
    <% end %>
  <% else %>
    <div data-controller='like'
      data-like-url-value=<%= prepare_like_path(record) %>
      data-action='click->like#redirect'
      class='like-button'>
      <i class='fa-regular fa-thumbs-up like-icon'></i>
      <span class='like-count'><%= record.likes.count %></span>
    </div>
  <% end %>
<% end %>
