<div id="users-show_layout">
  <section class="user">
    <div class="user_info">
      <%= skeleton_background_tag 'avatar' do %>
        <%= avatar_for(@user, :middle) %>
      <% end %>
      <h1><%= @user.name %></h1>
    </div>
    <div class="stats">
      <%= render 'shared/stats' %>
    </div>
    <% if current_user? @user %>
      <div class="profile-edit"><%= link_to 'プロフィールを編集する', edit_user_path(@user), class: 'btn btn-outline-secondary' %></div>
    <% end %>
    <% if logged_in? && current_user.admin? %>
      <div><%= link_to 'すべてのユーザーをみる', users_path, class: 'normal-link' %></div>
    <% end%>
  </aside>
  <section class="content">
    <%= yield %>
  </section>
</div>
