<aside class="col-md-4">
  <section class="user_info">
    <h1 class="d-flex align-items-center">
      <%= skeleton_background_tag 'avatar' do %>
        <%= avatar_for(@user, :middle) %>
      <% end %>
      <%= @user.name %>
    </h1>
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <% if current_user? @user %>
    <p><%= link_to 'ユーザー情報を編集する', edit_user_path(@user), class: 'btn btn-outline-secondary' %></p>
  <% end %>
  <% if logged_in? && current_user.admin? %>
    <p><%= link_to 'すべてのユーザーをみる', users_path, class: 'normal-link' %></p>
  <% end%>
</aside>
<div class="col-md-8">
  <%= yield %>
</div>
