<div id="users-edit">
  <h1>ユーザー情報編集</h1>
  <%= bootstrap_form_with model: @user, html: { id: 'user-form' } do |f| %>
    <%= f.text_field :name, label: "ニックネーム" %>
    <%= render 'shared/image_uploader', f: f %>
    <div class="d-grid">
      <%= f.submit '更新する' %>
    </div>
  <% end %>
  <div class="text-center mt-5">
    <%= link_to 'パスワードの再設定はこちら', new_password_reset_path, class: 'normal-link' %>
  </div>
</div>
