<% add_breadcrumb t('shared.breadcrumb_home'), root_path %>
<hr>

<%= render 'shared/nav' %>
<hr>

<h1><%= @user.name %></h1>

<% unless @user.activated? %>
  <p><%= t('.not_activated') %></p>
<% end %>

<table>
  <% if logged_in? && current_user.admin? %>
    <tr><th class="col-th"><%= t('.email_label') %></th><td><%= @user.email %></td></tr>
  <% end %>
  <tr>
    <th class="col-th"><%= t('.records_count_label') %></th>
    <td><%= t('.records_count', count: @user.records.not_auto_retired.count) %></td>
  </tr>
  <% if logged_in? && current_user?(@user) %>
    <tr>
      <th class="col-th"><%= t('.favorite_shops_label') %></th>
      <td><%= link_to t('.favorite_shops_count', count: @user.favorite_shops.count), favorites_by_user_path(@user) %></td>
    </tr>
  <% end %>
</table>

<% if logged_in? && current_user?(@user) %>
  <p><%= link_to t('.edit_profile'), edit_user_path(@user) %></p>
  <p>
    <%= link_to logout_path, data: { 'turbo-method': :delete, turbo_confirm: t('.logout_confirm') } do %>
      <%= t('.logout') %>
    <% end %>
  </p>
<% end %>
<% if logged_in? && current_user.admin? %>
  <p><%= link_to t('.all_users'), users_path %></p>
<% end %>

<hr>

<h2><%= t('.records_section') %> <small><%= t('.records_count', count: @records.total_count) %></small></h2>

<% if @records.any? %>
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th scope="col"><%= t('.shop_name_header') %></th>
          <th scope="col"><%= t('.wait_time_header') %></th>
          <th scope="col"><%= t('.datetime_header') %></th>
          <th scope="col" class="col-genre"><%= t('.status_header') %></th>
          <th scope="col"><%= t('shared.photo_header') %></th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <td><%= link_to record.ramen_shop.name, record.ramen_shop %></td>
            <td><%= link_to format_wait_time_human(record.wait_time), record_path(record, back: 'user') %></td>
            <td><%= format_datetime(record.started_at) %></td>
            <td class="col-genre"><%= format_line_status(record.line_statuses.first) %></td>
            <%= render 'records/photo_thumb', record: record %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @records %>
<% else %>
  <p><%= t('.no_records') %></p>
<% end %>
