<p>
  <%= link_to t('.home'), root_path %>
  | <%= link_to t('.search'), ramen_shops_path %>
  | <%= link_to t('.announcements'), announcements_path %>
  <% if logged_in? %>
    | <%= link_to t('.favorite_records'), favorite_records_path %>
    | <%= link_to current_user.name, current_user %>
  <% else %>
    | <%= link_to t('.sign_up'), new_user_path %>
    | <%= link_to t('.login'), login_path %>
  <% end %>
</p>
