<div class="records-ranking_record">
  <%= link_to record_path(record), class: 'list-group-item-action list-item' do %>
    <div class="content">
      <div class="ranking">
        <span class="rank"><%= rank %></span>
        <span class="unit">位</span>
      </div>
      <%= skeleton_background_tag 'avatar-image' do %>
        <%= avatar_for(record.user, :small) %>
      <% end %>
      <div class="record-detail">
        <h3 class="record-title"><%= shop_or_user(record, :ramen_shop) %></h3>
        <div class="record-summary">
          <span class="record-time">
            <%= format_wait_time record.wait_time %>
          </span>
          <%= line_type_badge(record.line_statuses.first) %>
        </div>
      </div>
    </div>
    <div class="ps-1">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  <% end %>
</div>
