<div class="records-record">
  <%= link_to record_path(record), class: 'list-group-item-action list-item' do %>
    <div class="content">
      <div class="record-overview">
        <%= skeleton_background_tag 'avatar-image' do %>
          <%= avatar_for(record.user, :small) %>
        <% end %>
        <div class="record-summary">
          <h3><%= shop_or_user(record, name) %></h3>
          <div class="record-started-at">
            <%= format_datetime record.started_at %>
            <%= line_type_badge(record.line_statuses.first) %>
          </div>
          <div class="record-time">
            <%= format_wait_time record.wait_time %>
          </div>
        </div>
      </div>
      <div class="record-extended">
        <% if record.comment.present? %>
          <div class="record-comment">
            <div class="comment-content"><%= record.comment %></div>
          </div>
        <% end %>
        <% if record.image.attached? %>
          <%= skeleton_background_tag 'record-image' do %>
            <%= lazy_image_tag record.image.variant(:display) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="ps-1">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  <% end %>
</div>
