<p><a href="<%= root_path %>">着丼</a> - <%= t('.title') %></p>
<hr>

<%= render 'shared/nav' %>
<hr>

<h1><%= @ramen_shop.name %></h1>

<div data-controller="timer" data-timer-milliseconds-value="false">
  <div data-timer-target="startedAt" hidden><%= @record.started_at&.iso8601 %></div>

  <table>
    <tr>
      <th class="col-th"><%= t('.shop_label') %></th>
      <td><%= link_to @ramen_shop.name, @ramen_shop %></td>
    </tr>
    <tr>
      <th class="col-th"><%= t('.start_time_label') %></th>
      <td><%= format_datetime(@record.started_at) %></td>
    </tr>
    <tr>
      <th class="col-th"><%= t('.elapsed_label') %></th>
      <td><span data-timer-target="time">00:00:00.000</span></td>
    </tr>
  </table>

  <%= form_with model: @record, url: calculate_record_path do |f| %>
    <%= f.hidden_field :ended_at, data: { timer_target: "endedAt" } %>
    <%= f.hidden_field :wait_time, data: { timer_target: "waitTime" } %>
    <p><%= f.submit t('.submit'),
          data: { action: "click->timer#end", disable_with: t('.submit_disable_with') },
          class: "btn btn-block" %></p>
  <% end %>

  <p><%= link_to t('.retire_link'), retire_record_path(@record),
        data: { turbo_method: :post, turbo_confirm: t('.retire_confirm') } %></p>
</div>

<hr>

<h2><%= t('.queue_section') %>
  <%= link_to t('.add_report_link'), new_record_line_status_path(@record),
        data: { turbo_stream: true }, class: "btn" %>
</h2>

<%= render 'line_statuses/queue_table', line_statuses: @record.line_statuses, tbody_id: 'line_statuses' %>

