<p><a href="<%= root_path %>">着丼</a> - 待ち時間計測中</p>
<hr>

<h1><%= @ramen_shop.name %></h1>

<div data-controller="timer" data-timer-milliseconds-value="false">
  <div data-timer-target="startedAt" hidden><%= @record.started_at&.iso8601 %></div>

  <table>
    <tr>
      <th class="col-th">店舗</th>
      <td><%= link_to @ramen_shop.name, @ramen_shop %></td>
    </tr>
    <tr>
      <th class="col-th">開始時刻</th>
      <td><%= l(@record.started_at, format: :short) %></td>
    </tr>
    <tr>
      <th class="col-th">経過時間</th>
      <td><span data-timer-target="time">00:00:00.000</span></td>
    </tr>
  </table>

  <%= form_with model: @record, url: calculate_record_path do |f| %>
    <%= f.hidden_field :ended_at, data: { timer_target: "endedAt" } %>
    <%= f.hidden_field :wait_time, data: { timer_target: "waitTime" } %>
    <p><%= f.submit '着丼',
          data: { action: "click->timer#end", disable_with: 'ちゃくどん中...' },
          class: "btn btn-block" %></p>
  <% end %>

  <p><%= link_to 'リタイアする（記録を中止する）', retire_record_path(@record),
        data: { turbo_method: :post, turbo_confirm: "本当にリタイアしますか？" } %></p>
</div>

<hr>

<h2>行列の様子
  <%= link_to '追加報告', new_record_line_status_path(@record),
        data: { turbo_stream: true }, class: "btn" %>
</h2>

<div class="table-scroll">
  <table>
    <thead>
      <tr>
        <th>時刻</th>
        <th>状況</th>
        <th class="col-comment">ひとこと</th>
      </tr>
    </thead>
    <tbody id="line_statuses">
      <%= render @record.line_statuses %>
    </tbody>
  </table>
</div>

<hr>
<p><small>着丼 - ラーメン待ち時間記録システム</small></p>
