<% content_for :js do %>
  <%= javascript_import_module_tag "timer" %>
<% end %>
<p><%= @ramen_shop.name %></p>
<p><%= @ramen_shop.address %></p>
<div id="container">
  <div id="time">00:00:00.000</div>
</div>
<%= form_with model: @record do |f| %>
  <div class="form-group">
    <%= f.hidden_field :started_at, value: @record.started_at&.iso8601, id: 'started' %>
    <%= f.submit 'ちゃくどん', id: 'ended', class: "btn btn-warning" %>
  </div>
<% end %>
<%= link_to '状況', new_record_line_status_path(@record) %>
