<h1>ちゃくどん！</h1>
<p class="fs-2 mb-1"><%= format_wait_time @record.wait_time %></p>
<p>接続: <%= format_datetime @record.started_at %></p>
<p>着丼: <%= format_datetime @record.ended_at %></p>
<%= bootstrap_form_with model: @record do |f| %>
  <%= f.text_area :comment, label: { text: "着丼してひとこと" } %>
  <div class="image" data-controller="image-uploader">
    <%= f.file_field :image, accept: "image/jpeg,image/jpg,image/png", data: { action: "change->image-uploader#displayAfterCheck", image_uploader_target: "image" } %>
    <%= image_tag '', data: { image_uploader_target: "imagePrev" }, class: 'image-prev', style: 'display:none' %>
  </div>
  <div class="d-grid mb-3">
    <%= f.submit '投稿する', class: "button-primary" %>
  </div>
<% end %>
