<div id="records-result">
  <h1 class="record-header">ちゃくどんレコード</h1>
  <div class="record-result">
    <div class="shop-info">
      <div class="shop-name"><%= @record.ramen_shop.name %></div>
      <small class="shop-address"><%= @record.ramen_shop.address %></small>
    </div>
    <div class="record-time">
      <%= wait_time_tag @record.wait_time %>
    </div>
  </div>
  <%= bootstrap_form_with model: @record, class: 'record-result-form' do |f| %>
    <%= f.text_area :comment, label: { text: "ひとこと" }, placeholder: 'ちゃくどん後の心境をどうぞ！', label_class: 'optional' %>
    <div class="image" data-controller="image-uploader">
      <%= f.file_field :image, accept: "image/jpeg,image/jpg,image/png", direct_upload: true, data: { action: "change->image-uploader#displayAfterCheck", image_uploader_target: "image" }, label_class: 'optional' %>
      <%= image_tag '', data: { image_uploader_target: "imagePrev" }, class: 'image-prev', style: 'display:none' %>
    </div>
    <div class="d-grid mb-3">
      <%= f.submit '投稿する', class: "button-primary" %>
    </div>
  <% end %>
  <div class="record-line-status">
    <h2 class="border-bottom">行列の様子</h2>
    <%= render @record.line_statuses %>
  </div>
</div>
