<p style="color: green"><%= notice %></p>
<p><%= @ramen_shop.name %></p>
<p><%= @ramen_shop.address %></p>
<p>記録： <%= format_wait_time(@record.wait_time) %></p>
<p><%= format_datetime(@record.created_at) %></p>
<%= link_to '編集', edit_record_path(@record), class: "btn btn-warning" %>
