<div class="container">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <h2>記録: <%= @record.id %></h2>
    <%= link_to '編集', edit_record_path(@record), class: "btn btn-warning btn-sm" %>
  </div>
  <p class="fs-2 mb-1"><%= format_wait_time @record.wait_time %></p>
  <p>接続: <%= format_datetime @record.started_at %></p>
  <p>着丼: <%= format_datetime @record.ended_at %></p>
  <% if @record.comment %>
    <p>着丼してひとこと: <%= @record.comment %></p>
  <% end %>
  <% if @record.image.attached? %>
    <%= image_tag @record.image.variant(:display) %>
  <% end %>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0"><%= tag.span("行列の様子") %></h6>
    <%= render @record.line_statuses %>
    <small class="d-block text-end mt-3">
      <%# paginate @ramen_shops %>
    </small>
  </div>
  <div>
    <%= link_to "レコード一覧へ戻る", ramen_shop_path(@record.ramen_shop) %>
  </div>
</div>
