<div id="records-show">
  <div class="header">
    <h1 class="record-header">ちゃくどん<span class="record-number">No. <%= @record.id %></span></h1>
    <div class="header-buttons">
      <%= render 'likes/like_form', record: @record %>
      <%= link_to @tweet_url, onclick: "window.open(this.href, '_blank'); return false;", class: 'share-button' do%>
        <i class="fa-brands fa-twitter"></i>
        <span class="share-text">シェア</span>
      <% end %>
    </div>
  </div>
  <div class="record-content">
    <div class="record-summary">
      <%= link_to ramen_shop_path(@record.ramen_shop), class: 'shop-info' do %>
        <div class="shop-name"><%= @record.ramen_shop.name %></div>
        <small class="shop-address"><%= @record.ramen_shop.address %></small>
      <% end %>
      <div class="record-time">
        <%= wait_time_tag @record.wait_time %>
      </div>
      <div class="record-duration">
        <div class="record-started-at">
          <small class='badge bg-dark me-2'>接続</small>
          <span class="date-time">
            <%= format_datetime_detail @record.started_at %>
          </span>
          <%= line_type_badge(@record.line_statuses.first) %>
        </div>
        <div class="record-ended-at">
          <% if @record.is_retired? %>
            <small class='badge me-2 retired'>リタイア</small>
          <% else %>
            <small class='badge bg-dark me-2'>着丼</small>
          <% end %>
          <span class="date-time">
            <%= format_datetime_detail @record.ended_at %>
          </span>
        </div>
      </div>
    </div>
    <% if @record.image.attached? %>
      <%= skeleton_background_tag 'record-image' do %>
        <%= lazy_image_tag @record.image.variant(:display) %>
      <% end %>
    <% end %>
    <%= link_to user_path(@record.user), class: 'user-info' do %>
      <%= skeleton_background_tag 'user-avatar' do %>
        <%= avatar_for @record.user, :middle %>
      <% end %>
      <span class="user-name">
        <%= @record.user.name %>
      </span>
      <span class="user-record-count">
        (<%= @record.user.records.not_auto_retired.count %>)
      </span>
    <% end %>
    <% unless @record.comment.blank? %>
      <div class="record-comment">
        <div class="comment-content"><%= @record.comment %></div>
      </div>
    <% end %>
  </div>
  <div class="record-line-status mb-3">
    <h2 class="border-bottom">行列の様子</h2>
    <%= render @record.line_statuses %>
  </div>
  <div>
    <%= link_to "戻る", @back_path %>
  </div>
</div>
