<%= f.text_field :line_number %>
<%= f.form_group :line_type, label: { text: "接続先" } do %>
  <%= f.radio_button :line_type, :inside_the_store, label: "店内", checked: true %>
  <%= f.radio_button :line_type, :outside_the_store, label: "店外" %>
  <%= f.radio_button :line_type, :other, label: "その他" %>
<% end %>
<%= f.text_area :comment, label: { text: "ひとこと" } %>
<div class="image" data-controller="image-uploader">
  <%= f.file_field :image, accept: "image/jpeg,image/jpg,image/png", data: { action: "change->image-uploader#displayAfterCheck", image_uploader_target: "image" } %>
  <%= image_tag '', data: { image_uploader_target: "imagePrev" }, class: 'image-prev', style: 'display:none' %>
</div>
