<%= tag.div id: dom_id(line_status) do %>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h3 class="accordion-header" id="flush-heading-<%= line_status_counter %>">
        <button class="accordion-button border-bottom collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= line_status_counter %>" aria-expanded="false" aria-controls="flush-collapse-<%= line_status_counter %>">
          <div class="line-status-layout">
            <div class="line-status-summary">
              <% if line_status_counter.zero? %>
                <span class='badge bg-dark me-2'>接続</span>
                <span class="line-status-passed-time"><%= format_only_detatil_time line_status.created_at %></span>
              <% else %>
                <span class='badge bg-dark me-2'><%= line_status_counter + 1 %></span>
                <span class="line-status-passed-time"><%= passed_time_from_first_line_status(line_status) %>後</span>
              <% end %>
              <%= line_type_badge(line_status) %>
            </div>
            <div class="has-content-icons">
              <% if line_status.comment.present? %>
                <i class="fa-regular fa-comment-dots"></i>
              <% end %>
              <% if line_status.image.attached? %>
                <i class="fa-regular fa-image ms-1"></i>
              <% end %>
            </div>
          </div>
        </button>
      </h3>
      <div id="flush-collapse-<%= line_status_counter %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%= line_status_counter %>" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="line-status-content">
            <% if line_status.comment.present? %>
              <p class="mb-1"><%= line_status.comment %></p>
            <% end %>
            <% if line_status.image.attached? %>
              <%= image_tag line_status.image.variant(:display) %>
            <% end %>
            <div class="line-status-created-at">
              <%= format_datetime_detail line_status.created_at %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
