<%= tag.div id: dom_id(line_status), class: 'line-status-content border-bottom py-3' do %>
  <div class="line-status-summary">
    <div>
      <% if line_status_counter.zero? %>
        <span class='badge bg-dark me-2'>接続</span>
        <span><%= format_datetime_detail line_status.created_at %></span>
      <% else %>
        <span class='badge bg-dark me-2'><%= line_status_counter + 1 %></span>
        <span class="line-status-passed-time"><%= passed_time_from_first_line_status(line_status) %>後</span>
      <% end %>
      <%= line_type_badge(line_status) %>
    </div>
    <div>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
  <% if line_status.comment.present? %>
    <p class="mb-1"><%= line_status.comment %></p>
  <% end %>
  <% if line_status.image.attached? %>
    <%= image_tag line_status.image.variant(:display) %>
  <% end %>
<% end %>
