<div class="table-scroll">
  <table>
    <thead>
      <tr>
        <th><%= t('.time_header') %></th>
        <th><%= t('.status_header') %></th>
        <th class="col-comment"><%= t('.comment_header') %></th>
      </tr>
    </thead>
    <tbody <% if local_assigns.key?(:tbody_id) %>id="<%= tbody_id %>"<% end %>>
      <%= render line_statuses %>
    </tbody>
  </table>
</div>
