<div class='image-frame'>
  <%= skeleton_background_tag 'record-image' do %>
    <% if record.image.persisted? %>
      <%= lazy_image_tag record.image %>
    <% else %>
      <%= lazy_image_tag 'landing_page/no-image' %>
    <% end %>
  <% end %>
  <%= render 'likes/like_form', record: record %>
</div>
<div class='shop-name'><%= shop_or_user(record, :ramen_shop) %></div>
<div class='record-time'>
  <%= wait_time_tag record.wait_time %>
</div>
<%= link_to '詳細を見る', record_path(record) %>
