<ol class="steps-list">
  <li>
    <strong><%= t('.step1_title') %></strong>
    <p><%= t('.step1_desc') %></p>
  </li>
  <li>
    <strong><%= t('.step2_title') %></strong>
    <p><%= t('.step2_desc') %></p>
  </li>
  <li>
    <strong><%= t('.step3_title') %></strong>
    <p><%= t('.step3_desc') %></p>
  </li>
  <li>
    <strong><%= t('.step4_title') %></strong>
    <p><%= t('.step4_desc') %></p>
  </li>
  <li>
    <strong><%= t('.step5_title') %></strong>
    <p><%= t('.step5_desc') %></p>
  </li>
</ol>
