<section class='usage'>
  <div class='container'>
    <h2>ちゃくどん登録５ステップ</h2>
    <ul class='steps'>
      <li>
        <span class='step-icon'>1</span>
        <dl>
          <dt>来店</dt>
          <dd>
            <p class='step-description'>
              お店に着いたら、画面下部に表示されている「現在地から接続」をタップする
            </p>
            <div class='step-image'>
              <%= image_tag 'landing_page/connect.png', alt: 'ステップ1' %>
            </div>
          </dd>
        </dl>
      </li>
      <li>
        <span class='step-icon'>2</span>
        <dl>
          <dt>店舗選択</dt>
          <dd>
            <p class='step-description'>
              表示された現在地付近のラーメン店の中から、来店する店舗をタップする
            </p>
            <div class='step-image'>
              <%= image_tag 'landing_page/shops_on_map.png', alt: 'ステップ2' %>
            </div>
          </dd>
        </dl>
      </li>
      <li>
        <span class='step-icon'>3</span>
        <dl>
          <dt>接続</dt>
          <dd>
            <p class='step-description'>
              接続時の行列の様子を報告して、ちゃくどんレコード計測開始！
            </p>
            <div class='step-image'>
              <%= image_tag 'landing_page/connect_status_form.png', alt: 'ステップ3' %>
              <span>店内5人に接続した例</span>
            </div>
          </dd>
        </dl>
      </li>
      <li>
        <span class='step-icon'>4</span>
        <dl>
          <dt>着丼</dt>
          <dd>
            <p class='step-description'>
              ラーメンが提供されたら「ちゃくどん」をタップ！
            </p>
            <div class='step-image'>
              <%= image_tag 'landing_page/measure_page.png', alt: 'ステップ4' %>
            </div>
          </dd>
        </dl>
      </li>
      <li>
        <span class='step-icon'>5</span>
        <dl>
          <dt>追加投稿</dt>
          <dd>
            <p class='step-description'>
              ひとことや写真を追加投稿！
            </p>
            <div class='step-image'>
              <%= image_tag 'landing_page/record_result.png', alt: 'ステップ5' %>
            </div>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</section>
