<section class='hero'>
  <div class='container'>
    <h1><span>ラーメン待ちの時間、</span><span>気になりませんか？</span></h1>
    <div class='definitions'>
      <dl>
        <dt>接続</dt>
        <dd>ラーメン店に到着して行列に加わる瞬間。<span>ここから待ち時間計測がスタートします。</span></dd>
        <dt>着丼</dt>
        <dd>注文したラーメンが提供される瞬間。<span>待ち時間の計測が終了し、</span><span>ちゃくどんレコードを登録します。</span></dd>
      </dl>
    </div>
    <%= link_to '新着ちゃくどんを見てみる', new_records_path, class: 'button-primary button-big' %>
    <%= link_to 'ユーザー登録する', new_user_path, class: 'new-user-path-link' %>
  </div>
</section>
<%= render 'usage_steps' %>
<%= render 'faqs' %>
<section class='promotion'>
  <div class='container'>
    <h2>ちゃくどんレコードを<span>確認してみよう！</span></h2>
    <p>完全無料！お気軽にどうぞ！</p>
    <%= link_to '新着ちゃくどんを見てみる', new_records_path, class: 'begin-button' %>
    <%= link_to 'ユーザー登録する', new_user_path, class: 'new-user-path-link' %>
  </div>
</section>
