<footer class="bg-light text-center text-lg-start">
  <% if logged_in? && show_connect_button? %>
    <div class="p-1 fixed-bottom">
      <div class="d-grid col-sm-6 mx-auto">
        <% if remember_record? %>
          <%= link_to '接続中レコード', measure_record_path(fetch_record_id), class: "button-primary button-big" %>
        <% else %>
          <%= link_to '現在地から接続', search_path, class: "button-primary button-big" %>
        <%  end %>
      </div>
    </div>
  <% end %>
  <div class="footer">
    © 2023 moriw0
    <ul class="links">
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to '利用規約', terms_path %></li>
      <li><%= link_to 'プライバシーポリシー', privacy_policy_path %></li>
    </ul>
  </div>
</footer>
