<!DOCTYPE html>
<html>
  <head>
    <title>Tyakudon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer data-turbo-evals="false"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <%= render 'mode_status'%>
        <div id="flash">
          <%= render "flash" %>
        </div>
        <%= yield %>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
    <div id="modal"></div>
  </body>
</html>
