<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "着丼" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "v2", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <% if flash[:alert] %><p class="flash-alert"><%= flash[:alert] %></p><% end %>
  <%= yield %>
  <div id="modal"></div>
</body>
</html>
